//fonts
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'EB Garamond', serif;

//colors
$primary-color: #eecccc;
$white: #ffffff;
$black: #222222;
$light-pink: #fbf4f4;
$yellow: #f5e7ac;
